<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <ul>
            <li><a href="{{ path('alz_archive_homepage') }}"> xx </a></li>
            <li><a href="{{ path('alz_archive_first',{'id' : 17}) }}"> xx </a></li>
            <li><a href="{{ path('alz_archive_second') }}"> xx </a></li>
        </ul>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
